@use "../settings/colors";

.logo-title {
  color: colors.$primary-color;
}

.header {
position: relative;

  .nav {
    display: flex;
    justify-content: space-between;

    .hamburger {
      position: absolute;
      top: 0;
      left: 15px;
      padding: 5px 15px;
      border-radius: 6px;
      font-size: 20px;
      color: colors.$light-color;
      background-color: rgba(0, 0, 0, 0.2);
      transition: all .3s ease-in-out;
      cursor: pointer;
    }
  }

}
